@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

nav > *{
    display: inline-block;
    
     font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0px;
  color: lightgreen;
}
nav > h1{
    font-weight: 700;
    font-size: 32px;
}
nav > a{
    margin-left: 20px;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    
    
}
nav{
    padding-top: 5px ;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color:forestgreen;
}
body{
    margin: 0px;
}
