@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@media only screen and (max-width: 767px) {
     html > *:not(.oops){
        visibility: hidden;
    }
    .oops{
        visibility: visible;
    }
}
@media only screen and (min-width: 767px) {
    html > *:not(.oops){
        visibility: visible;
    }
    .oops{
        visibility: hidden;
    }
}
nav > *{
    display: inline-block;
    
     font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0px;
  color: rgb(0, 103, 55);
}
nav > h1{
    font-weight: 700;
    font-size: 32px;
}
nav > a{
    margin-left: 20px;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    
    
}
nav{
    padding-top: 5px ;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color:wheat;
}
body{
    margin: 0px;
    background-color: rgb(0, 103, 55);
}
h2{
    font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin: 0px;
  color: wheat;
}
.textbox > h1{
    font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  margin: 0px;
  color: wheat;
}
p{
    font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  margin: 0px;
  margin-top: 8px;
  color: wheat;
}
p > a{
    
    font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  margin: 0px;
  margin-top: 8px;
  color: wheat;
}
.textbox{
    padding: 15px;
    height: 150px;
    padding-bottom: 5px;
    
}
.textbox > *{
    text-align: center;
    
}
hr{
    border-color: wheat;
}
.pbarcontainer {
            background-color: wheat;
            width: 80%;
            border-radius: 15px;
            margin-top: 5px;
            margin-bottom: 5px;
            width: 100%;
        }

        .pbar {
            background-color:forestgreen;
            color: wheat;
            padding: 1%;
            text-align: right;
            font-size: 20px;
            border-radius: 15px;
            width: 0%;
        }
ul {
  list-style: none;
  padding: 0;
  width: 50%;
  margin-left: 25%;
}

ul> li {
  position: relative;
  padding: 0.5em 0.5em;
  font-weight: bold;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  margin: 0px;
  color: wheat;
}

ul> li::before {
  content: " > ";
  position: absolute;
  left: 0;
}



