@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

nav > *{
    display: inline-block;
    
     font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0px;
  color: rgb(0, 103, 55);
}
nav > h1{
    font-weight: 700;
    font-size: 32px;
}
nav > a{
    margin-left: 20px;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    
    
}
nav{
    padding-top: 5px ;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color:wheat;
}
body{
    margin: 0px;
    background-color: rgb(0, 103, 55);
}
h2{
    font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin: 0px;
  color: wheat;
}
p{
    font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  margin: 0px;
  margin-top: 8px;
  color: wheat;
}
.textbox{
    padding: 25px;
    height: 150px;
    padding-bottom: 5px;
    
}
.textbox > *{
    text-align: center;
    
}
hr{
    border-color: wheat;
}
.pbarcontainer {
            background-color: wheat;
            width: 80%;
            border-radius: 15px;
            margin-top: 5px;
            margin-bottom: 5px;
            width: 100%;
        }

        .pbar {
            background-color:forestgreen;
            color: wheat;
            padding: 1%;
            text-align: right;
            font-size: 20px;
            border-radius: 15px;
            width: 0%;
        }

        
